ion-spinner{
  padding-left: 60px;
}
ion-list{ 
  position: relative;
}

ion-icon[name="add"]{ 
  background-color: #3880ff;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  margin: 10px; 
  position: fixed; 
  bottom: 10px;
  right: 10px;
  
} 
   
 