  <ion-toolbar color="primary">
    <ion-title>{{ title }} <span *ngIf="!loading">({{ items.length }})</span></ion-title> 
     
  </ion-toolbar>
  
  <ion-list> 

    <ion-spinner name="dots" *ngIf="loading" color="primary"></ion-spinner>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item (dblclick)="showTodoDetails(item)"  lines="inset"> 
        <ion-label>{{ item.text }}</ion-label>
      </ion-item>
      
      <ion-item-options side="start" (ionSwipe)="complete(item)">
        <ion-item-option color="success" (click)="complete(item)" *ngIf="allowDone" [expandable]="allowDone">
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="todo(item)" *ngIf="allowTodo">
          <ion-icon name="list"></ion-icon>
        </ion-item-option>  
        <ion-item-option color="dark" (click)="later(item)" *ngIf="allowLater">
          <ion-icon name="moon"></ion-icon>
        </ion-item-option> 
        <ion-item-option color="medium" (click)="moveByOffset(i, -1)" *ngIf="i !== 0">
          <ion-icon name="arrow-up"></ion-icon>
        </ion-item-option>
        <ion-item-option color="medium" (click)="moveByOffset(i, 1)" *ngIf="i !== items.length-1">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end" (ionSwipe)="delete(item)"> 
        <ion-item-option color="danger" (click)="delete(item)" expandable>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
   
  </ion-list> 
  <ion-icon color="light" (click)="add()" title="Add Todo" mode="md" name="add" slot="end"></ion-icon> 
      
  
  