<ion-toolbar color="primary">
  <ion-title>Login</ion-title>
</ion-toolbar>

<ion-content padding>
  <br/>  
  <ion-item>
    <ion-label text-center>Login or sign up with</ion-label>
  </ion-item>
  <div class="container">
  	<ion-chip outline class="login" color="primary" (click)="googleplusLogin()">
	  <ion-avatar>
	    <img src="https://img.icons8.com/color/48/000000/google-logo.png">
	  </ion-avatar>
	  <ion-label>Sign in with Google</ion-label> 
	</ion-chip>
	<ion-chip outline class="login" color="primary" (click)="facebookLogin()">
	  <ion-avatar>
	    <img src="https://img.icons8.com/color/480/000000/facebook.png">
	  </ion-avatar>
	  <ion-label>Sign in with Facebook</ion-label> 
	</ion-chip>
	<p></p>
  </div>
  <ion-item lines="no">
    <ion-label text-wrap text-center> 
      <small>By continuing, you are indication that you accept our <a routerLink="/tos"  routerDirection="forward">Terms of Service</a> and <a routerLink="/privacy"  routerDirection="forward">Privacy Policy</a></small>
    </ion-label>
  </ion-item>
</ion-content>
