.comment-close:hover{
  color: #f04141;
}

ion-icon[name="person"]{
  background-color: #3171e0;
  padding: 15px;
  border-radius: 50%;
}

.commentor{
  border-radius: 50%;
  width:  50px;
  height: 50px; 
  border:2px solid #fff; 
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;   
}


ion-icon[name="trash"]{ 
  background-color: #f04141;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  margin: 10px;  
  bottom: 10px;
  right: 10px;
}

ion-input#strike{
  text-decoration: line-through;
} 

h4{
  font-weight: bold;
}

ion-icon[name="close"]:hover{
  color: red;
}
 
.subTasks{
  margin-left: 1.5em;
  font-size: 14px;
  --color : DimGrey; 
}
 
 .comment{
  --color: DimGrey;
  text-indent: 10px;
  font-size: 14px;
 }