
#profilePic{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;  
  margin: 0 auto;
  border:2px solid #fff; 
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}